html {
  scroll-behavior: smooth;
}
body {
  background-image: url("../assets/backgrounds/background2.1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.blur {
  /* global 92%+ browsers support */
  top: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 10;
  pointer-events: none;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(255, 255, 0, 0) 40%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0.9) 100%
  );
}

.timeline {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  display: flex;
  align-items: space-between;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 25vw;
  -webkit-overflow-scrolling: touch;
}

section {
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: auto;
}

.timeline.small {
  padding: 0 1em;
  height: auto;

  transform-origin: center;
}

.small-time {
  font-size: 2em;
  color: black;
  letter-spacing: -0.08em;
  padding: 0 16px;
}

section.no-scroll {
  min-height: auto;
  overflow: hidden;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
section.scroll {
  flex: 0 0 auto;
  width: 50vw;
}

.timeline-desc {
    max-width: 20vw;
    padding: 1em;
  }
  
.timeline::-webkit-scrollbar {
  width: 50%;
  height: 8px;
  z-index: 1000;
}

.timeline::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  border: #000000 1px solid;
}

.timeline::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.25);
  margin: 32vw;
}
